 body {
 	font-size: 0.8em;
 	padding: 0; 
 	margin: 0;
 	color: black;
 	font-family: 'Helvetica', 'Arial', sans-serif;
 	word-wrap: break-word;
 	-moz-word-wrap: break-word;
 	text-transform: lowercase;
 	cursor: default;
 	overflow: hidden;
 	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
 } 

#trick {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: -9999;
}

 .container {
 	padding-top: 6.5em;
 }

 a {
 	font-weight: bold;
 	color: maroon;
 	transition: .3s ease;
 	font-size: 1.2em;
 }

 a:hover {
 	opacity: 0.5;
 	color: maroon;
 	text-decoration: none;
 }

 h1 {
 	font-size: 7em;
 	margin-bottom: 0.2em;
 }

 h2 {
 	font-size: 3.2em;
 	margin-bottom: 0.2em;
 }

 h3 {
 	font-size:2em;
 	margin-bottom: 2em;
 	text-transform: uppercase;
 }

 canvas {
 	vertical-align: top; 
 	position:absolute; 
 	top: 0; 
 	left:0; 
 	z-index: -9999;
 } 

 /* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	body {
		font-size: 1.4em;
		overflow: hidden;
	}

	h4 {
		font-size: 2em;
	}

	#teaser svg {
		transform: rotate(90deg);
	}

	.container {
		padding-top: 0.5em;
		max-width: 95%;
	}
}
